.Button {
  background-color: #0f828c;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}

.Input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.Input:focus {
  outline: 2px solid #0f828c;
  background-color: #fff;
}

.Button:hover {
  background-color: #0c6b74;
}

.Button:active {
  background-color: #0a5a61;
}

.Button:hover {
  background-color: #054471;
}

.Button:active {
  background-color: #05385d;
}

.DeleteButton {
  background-color: #d10000;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px 15px;
  border-radius: 5px;
}

.DeleteButton:hover {
  background-color: #b50101;
}

.DeleteButton:active {
  background-color: rgb(155, 0, 0);
}
